.search-header {
    height: 20px;
    text-align: right;
    padding: 8px 5px 5px 5px;
    font-size: 0.85em;
    display: block;
    background-color: #2fc2da;
    /*border-right: 3px solid #437a81;*/
    margin-bottom: 3px;
    color: #fff;
}

.search-box {
    background-color: #fff;
    padding: 5px;
}

    .search-box .inner-caption {
        font-size: 0.85em;
        display: block;
        color: #000;
    }

    .search-box .check {
        margin: 0px 0px 0px 0px;
    }

    .search-box label {
        display: inline-block;
        color: #000;
        font-size: 0.8em;
        text-align: right;
        padding: 3px 0px 0px 0px;
        height: 22px;
        cursor: pointer;
    }

.search-button {
    height: 33px !important;
    font-size: 0.84em;
    text-align: center;
    padding: 5px;
    border: 1px solid #76c6db;
    color: #00abcb !important;
    cursor: pointer;
    background-color: #e1e1e1;
    outline: none;
    font-family: 'B Yekan';
    width: 100%;
}

    .search-button:hover {
        background-color: #cac8c8;
    }

.search-input {
    height: 18px !important;
    border: 1px solid #76c6db !important;
    width: 218px !important;
    color: #545e6d !important;
    padding: 5px !important;
    font-size: 0.8em !important;
    outline: none;
    font-family: 'B Yekan';
}
