<div class="search navbar-brand" style="padding:10px;" id="searchbox">
    <div class="password">
        <input id="password" type="password" name="search" value="" placeholder="جستجو">
        <div class="tile mci-2b fa fa-search"></div>
    </div>
</div>